<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="utf-8"/>
	<title>Essens-Plan</title>

	<!-- Mobile viewport optimisation -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- (en) Add your meta data here -->
	<!-- (de) Fuegen Sie hier ihre Meta-Daten ein -->

	<link href="./css/mtk.css" rel="stylesheet" type="text/css"/>
	<!--[if lte IE 7]>
	<link href="../yaml/core/iehacks.css" rel="stylesheet" type="text/css" />
	<![endif]-->

	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	<link rel="stylesheet" href="../yaml/add-ons/accessible-tabs/tabs.css" type="text/css"/>
	
	
</head>
<body>





<div class="ym-wrapper">
		<div class="ym-wbox">
<header>
		<h1>Essens-Plan</h1>
</header>

<nav id="nav">
	<div class="ym-wrapper">
		<div class="ym-hlist">
			<ul>
				<!-- <li class="active"><strong>Active</strong></li> -->
				<li><a href="#">Link</a></li>
				<li><a href="#">Link</a></li>
			</ul>
            <!--
			<form class="ym-searchform">
				<input class="ym-searchfield" type="search" placeholder="Search..." />
				<input class="ym-searchbutton" type="submit" value="Search" />
			</form>
            -->
		</div>
	</div>
</nav>

<div id="main">
	<div class="ym-wrapper">
		<div class="ym-wbox">
		<h2>KW: XX</h2>	
			<section class="ym-grid">
				<div class="ym-g75 ym-gl">
				    <div class="ym-box">	
                    </div>
                        <div class="ym-grid linearize-level-1">
                            <div class="ym-g20 ym-gl">Montag</div>	
                            <div class="ym-g20 ym-gl">Dienstag</div>	
                            <div class="ym-g20 ym-gl">Mittwoch</div>	
                            <div class="ym-g20 ym-gl">Donnerstag</div>	
                            <div class="ym-g20 ym-gl">Freitag</div>	
                        </div>
				</div>
				<div class="ym-g25 ym-gr">
                    <div class="ym-box">
                    </div>
                        <div class="ym-grid linearize-level-2">
                            <div class="ym-g50 ym-gl">Samstag</div>
                            <div class="ym-g50 ym-gr">Sonntag</div>
                        </div>
				</div> 
            </section> 
			
		</div>
	</div>
</div>
<footer>
	<div class="ym-wrapper">
		<div class="ym-wbox">
			<p>© <a href="http://www.marcus-kemper.de">Marcus Kemper</a> 2012 &ndash; Layout based on <a href="http://www.yaml.de">YAML</a></p>
		</div>
	</div>
</footer>
		</div>
</div>
<!-- full skip link functionality in webkit browsers -->
<script src="../yaml/core/js/yaml-focusfix.js"></script>
</body>
</html>
