<!DOCTYPE html>
<html lang="de">
    <head class="html5">
        <title>Neues Gericht eintragen</title>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
<form method="post">
<p>
Name: <input type="text" name="{{ name }}">
Kategorie: <select><option id="cat" value="{{ category }}" /></select>
Zutaten: <textarea>{{ ingredients }}</textarea>
Referenz: <input type="text" name="{{ reference }}">
</p>
<p><input type="submit" value="Abschicken"> <input type="cancel" value="Abbrechen"></p>
</form>
    </body>
</html>
