<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="utf-8"/>
	<title>Essens-Plan</title>

	<!-- Mobile viewport optimisation -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- (en) Add your meta data here -->
	<!-- (de) Fuegen Sie hier ihre Meta-Daten ein -->

	<link href="/static/css/mtk.css" rel="stylesheet" type="text/css"/>
	<!--[if lte IE 7]>
	<link href="../yaml/core/iehacks.css" rel="stylesheet" type="text/css" />
	<![endif]-->

	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	<link rel="stylesheet" href="/static/yaml/add-ons/accessible-tabs/tabs.css" type="text/css"/>
	<script type="text/javascript" src="/static/lib/jquery-1.7.1.min.js"></script>
    
    <script type="text/javascript">
    
    
    </script>
	
</head>
<body>





<div class="ym-wrapper">
		<div class="ym-wbox">
<header>
		<h1>Essens-Plan</h1>
</header>

<nav id="nav">
	<div class="ym-wrapper">
		<div class="ym-hlist">
			<ul>
				<!-- <li class="active"><strong>Active</strong></li> -->
				<li><a href="{{backlink}}">Home</a></li>
			</ul>
            <!--
			<form class="ym-searchform">
				<input class="ym-searchfield" type="search" placeholder="Search..." />
				<input class="ym-searchbutton" type="submit" value="Search" />
			</form>
            -->
            <div class="ym-searchform"><a href="/logout/{{user}}">Logout</a></div>
		</div>
	</div>
</nav>

<div id="main">
	<div class="ym-wrapper">
		<div class="ym-wbox">
		<h2>Einkaufszettel</h2>	
			<section class="ym-grid">
				<div class="ym-g50 ym-gl linearize-level-1">
				    <div class="ym-box">	
                    </div>
                
	                {% if sl %}
	                <table>
	                   <th>Zutat</th><th>Gericht</th><th>Aktion</th>
		                {% for item in sl.items %}
		                    <tr><td>{{item}}</td><td>Gerichtlink?</td><td>[-]</td></tr>
		                {% endfor %}
		            </table>
	                {% else %}
	                    <p>Noch keine Elemente vorhanden!</p>
	                {% endif %}
                
                
                <p><a href="{{backlink}}">Zurück</a></p>
                </div>
				<div class="ym-g50 ym-gr linearize-level-2">
                    <div class="ym-box">
                    </div>
				
                <!-- Hier kann man Zusatzinfos rechts einblenden! -->
                
                </div> 
            </section> 
			
		</div>
	</div>
</div>
<footer>
	<div class="ym-wrapper">
		<div class="ym-wbox">
			<p>© marcus kemper 2012 &ndash; Layout based on <a href="http://www.yaml.de">YAML</a></p>
		</div>
	</div>
</footer>
		</div>
</div>
<!-- full skip link functionality in webkit browsers -->
<script src="/static/yaml/core/js/yaml-focusfix.js"></script>
</body>
</html>
