<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="utf-8"/>
	<title>Essens-Plan</title>

	<!-- Mobile viewport optimisation -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- (en) Add your meta data here -->
	<!-- (de) Fuegen Sie hier ihre Meta-Daten ein -->

	<link href="/static/css/mtk.css" rel="stylesheet" type="text/css"/>
	<!--[if lte IE 7]>
	<link href="../yaml/core/iehacks.css" rel="stylesheet" type="text/css" />
	<![endif]-->

	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	<link rel="stylesheet" href="/static/yaml/add-ons/accessible-tabs/tabs.css" type="text/css"/>
	
	
</head>
<body>





<div class="ym-wrapper">
		<div class="ym-wbox">
<header>
		<h1>Essens-Plan</h1>
</header>

<nav id="nav">
	<div class="ym-wrapper">
		<div class="ym-hlist">
			<ul>
				<!-- <li class="active"><strong>Active</strong></li> -->
				<li><a href="/show/{{nav[6]}}/{{nav[2]}}/{{nav[3]}}">«zurück</a></li>
				<li><a href="/show/{{nav[6]}}">Aktuelle Woche</a></li>
				<li><a href="/show/{{nav[6]}}/{{nav[4]}}/{{nav[5]}}">vorwärts»</a></li>
			</ul>
            <!--
			<form class="ym-searchform">
				<input class="ym-searchfield" type="search" placeholder="Search..." />
				<input class="ym-searchbutton" type="submit" value="Search" />
			</form>
            -->
            
			 <div class="ym-searchform"><a href="/shoppinglist/{{nav[6]}}/{{nav[0]}}/{{nav[1]}}">Einkaufszettel</a> <a href="/logout/{{user}}">Logout</a></div>    
	        
		</div>
	</div>
</nav>

<div id="main">
	<div class="ym-wrapper">
		<div class="ym-wbox">
		<h2>KW:{{nav[1]}}</h2>	
			<section class="ym-grid">
				    <div class="ym-box">	
                    </div>
                        <div class="ym-grid linearize-level-1">
                            {% for day in days %}
                            <div class="ym-g20 ym-gl">
                                <div class="box info">
                                    {{day.name}}, {{day.date}}
                                    {% if day.meal_name %}
                                        <p><a href="/remove_entry/{{user}}/{{day.date}}/{{day.meal_key_name}}">[x] </a>{{day.meal_name}} <a href="/show_meal_detail/{{user}}/{{day.date}}/{{day.meal_key_name}}">[info]</a></p> 
                                    {% else %}
                                    <p><a href="/show_meal_list/{{nav[6]}}/{{day.date}}">Gericht eintragen</a></p>
                                    {% endif %}
                                </div>
                            </div>
                            
                            {% endfor %}

                        </div>
            </section> 
			
		</div>
	</div>
</div>
<footer>
	<div class="ym-wrapper">
		<div class="ym-wbox">
			<p>© marcus kemper 2012 &ndash; Layout based on <a href="http://www.yaml.de">YAML</a></p>
		</div>
	</div>
</footer>
		</div>
</div>
<!-- full skip link functionality in webkit browsers -->
<script src="/static/yaml/core/js/yaml-focusfix.js"></script>
</body>
</html>
