<!DOCTYPE html>
<html lang="de">
    <head class="html5">
        <meta charset="utf-8">
        <title>Alle Gerichte</title>
        <link rel="stylesheet" type="text/css"  href="/static/style.css">
        </head>
    <body>
        {% for meal in meal_list %}
            <div><a href="/del_meal/{{meal.key().name()}}/{{day_date}}">[x]</a>{{meal.name}} {{meal.category}} <a href="/commit_entry/{{day_date}}/{{meal.key().name()}}">Für den Tag auswählen</a></div>
        {% endfor %}


    <p><a href="/add_meal/{{day_date}}">Gericht hinzufügen</a></p>

    
    </body>
</html>
