<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="utf-8"/>
	<title>Essens-Plan</title>

	<!-- Mobile viewport optimisation -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- (en) Add your meta data here -->
	<!-- (de) Fuegen Sie hier ihre Meta-Daten ein -->

	<link href="/static/css/mtk.css" rel="stylesheet" type="text/css"/>
	<!--[if lte IE 7]>
	<link href="../yaml/core/iehacks.css" rel="stylesheet" type="text/css" />
	<![endif]-->

	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	<link rel="stylesheet" href="/static/yaml/add-ons/accessible-tabs/tabs.css" type="text/css"/>
	
	
</head>
<body>





<div class="ym-wrapper">
		<div class="ym-wbox">
<header>
		<h1>Essens-Plan</h1>
</header>

<nav id="nav">
	<div class="ym-wrapper">
		<div class="ym-hlist">
			<ul>
				<!-- <li class="active"><strong>Active</strong></li> -->
				<!-- <li><a href="#">Home</a></li> -->
			</ul>
            <!--
			<form class="ym-searchform">
				<input class="ym-searchfield" type="search" placeholder="Search..." />
				<input class="ym-searchbutton" type="submit" value="Search" />
			</form>
            -->
		</div>
	</div>
</nav>

<div id="main">
	<div class="ym-wrapper">
		<div class="ym-wbox">
		<h2>Sign-Up</h2>	
			<section class="ym-grid">
				<div class="ym-g75 ym-gl">
				    <div class="ym-box">	
                    </div>
                        <form method="post">
                        <div class="info box">    
                        <p>Name: <input type="text" name="name"></p>
                        <p>Nachname: <input type="text" name="lastname"></p>
                        <p>Email: <input type="text" name="email"></p>
                        <p>Passwort: <input type="password" name="pwd"></p>
                        <p>Passwort wiederholen: <input type="password" name="pwd_check"></p>
                        </div>
                        
                        <p><input type="submit" value="Abschicken!"></p>
                        </form>
                        {% if error %}
                            <div class="box error">{{ error }}</div>
                        {% endif %}
                </div>
				<div class="ym-g25 ym-gr">
                    <div class="ym-box">
                    </div>
				
                <!-- hier kann man zusatzinfos rechts einblenden! -->
                
                </div> 
            </section> 
			
		</div>
	</div>
</div>
<footer>
	<div class="ym-wrapper">
		<div class="ym-wbox">
			<p>© marcus kemper 2012 &ndash; layout based on <a href="http://www.yaml.de">yaml</a></p>
		</div>
	</div>
</footer>
		</div>
</div>
<!-- full skip link functionality in webkit browsers -->
<script src="/static/yaml/core/js/yaml-focusfix.js"></script>
</body>
</html>
